/* Estilos para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el logo horizontalmente */
    margin-right: 30px; /* Ajusta el margen para mover el contenedor a la derecha */
}

.logo {
    height: 50px; /* Ajusta la altura del logo */
    width: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b3d99;
    padding: 10px;
    justify-content: space-between;
}

.nav-group {
    position: relative;
    margin-right: 10px;
}

/* Estilo de los botones desplegables */
.dropdown-btn {
    background-color: #5b3d99;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.dropdown-btn i {
    margin-left: 5px;
}

/* Contenedor desplegable */
.dropdown-container {
    display: none;
    background-color: #d0b4f1;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    z-index: 1;
}

.dropdown-container a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

.dropdown-container a:hover {
    background-color: #bfa8e3;
}

.dropdown-btn.active + .dropdown-container {
    display: block;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* Estilos para el contenedor del formulario de pedidos */
.container {
    background-color: #ccbaef;
    border: 2px solid #a790cf;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #5b3d99;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.2em;
    color: #48257f;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #a790cf;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos para el mapa */
#map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

/* Estilos del botón confirmar pedido */
button[type="submit"] {
    background-color: #D291BC;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #c07aa6;
}

/* Estilos para el formulario */
.form-container {
    width: 80%; /* Ajusta el tamaño según lo necesario */
    margin: 20px auto; /* Centrar el contenedor */
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo suave */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #5b3d99; /* Color de encabezado */
}

.form-group {
    margin-bottom: 20px;
}

/* Estilo para grupos de formulario en la misma línea */
.form-group {
    display: inline-block; /* Mostrar en línea */
    width: calc(50% - 20px); /* Ajustar el ancho (2 en una línea) */
    margin: 10px 10px 20px 0; /* Espaciado entre grupos */
}

.form-group textarea,
.form-group input,
.form-group select {
    width: 100%; /* Asegurarse de que los inputs ocupen todo el ancho */
}

/* Responsive para 3 campos en una línea en pantallas más grandes */
@media (min-width: 768px) {
    .form-group {
        width: calc(33.33% - 20px); /* Ajustar para 3 en una línea */
    }
}

.form-group label {
    font-weight: bold;
    color: #5b3d99; /* Color del texto */
}

.btn-primary {
    background-color: #5b3d99;
    border: none;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #48257f; /* Cambio de color al hacer hover */
}

#map {
    margin-bottom: 20px;
}
