<div class="navbar">
  <!-- Logo Redirigiendo al Inicio de Sesión -->
  <a href="/menu" class="logo-link">
    <img src="https://images.vexels.com/content/200165/preview/store-icon-stroke-bb4ae2.png" alt="Logo Abarrotes el Perrón" class="logo">
  </a>
  
  <div class="nav-group">
    <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['ventas-compras']}" (click)="toggleDropdown('ventas-compras')">
      Ventas & Compras <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-container" *ngIf="dropdownOpen['ventas-compras']">
      <a routerLink="/principal"><i class="fas fa-home"></i> Ventas</a>
      <a routerLink="/pedidosaproveedor"><i class="fas fa-shopping-cart"></i> Compras</a>
      <a routerLink="/formulariofactura"><i class="fas fa-file-invoice"></i> Factura</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['proveedores-entregas']}" (click)="toggleDropdown('proveedores-entregas')">
      Proveedores & Entregas <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-container" *ngIf="dropdownOpen['proveedores-entregas']">
      <a routerLink="/proveedores"><i class="fas fa-truck"></i> Proveedores</a>
      <a routerLink="/entregasproveedor"><i class="fas fa-shipping-fast"></i> Entregas</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['inventarios-reportes']}" (click)="toggleDropdown('inventarios-reportes')">
      Inventarios & Reportes <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-container" *ngIf="dropdownOpen['inventarios-reportes']">
      <a routerLink="/inventarios"><i class="fas fa-boxes"></i> Inventarios</a>
      <a routerLink="/cortedecaja"><i class="fas fa-cash-register"></i> Corte Caja</a>
      <a routerLink="/reportes"><i class="fas fa-chart-line"></i> Informes</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['otros']}" (click)="toggleDropdown('otros')">
      Otros <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-container" *ngIf="dropdownOpen['otros']">
      <a routerLink="/clientesfrecuentes"><i class="fas fa-users"></i> Clientes Frecuentes</a>
      <a routerLink="/gestiondescuento"><i class="fas fa-percentage"></i> Descuento Por Mayoreo</a>
      <a routerLink="/productos"><i class="fas fa-box"></i> Agregar Productos</a>
      <a routerLink="/categoria"><i class="fas fa-tags"></i> Categorías</a>
      <a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Inicio de Sesión</a>
    </div>
  </div>
</div>

<!-- PROVEEDORES -->
<div class="provider-container">
  <h1><i class="fas fa-plus"></i> Registrar un nuevo Proveedor</h1>
  <form (ngSubmit)="saveProveedor()">
   <!-- Agrega la clase 'left-cell' a las celdas del lado izquierdo -->
<table>
  <tbody>
    <tr>
      <td class="left-cell"><label for="nombre">Nombre</label></td>
      <td><input type="text" id="nombre" [(ngModel)]="proveedor.nombre" name="nombre" class="form-control" placeholder="Ingrese el nombre del proveedor" required></td>
    </tr>
    <tr>
      <td class="left-cell"><label for="apellidos">Apellidos</label></td>
      <td><input type="text" id="apellidos" [(ngModel)]="proveedor.apellidos" name="apellidos" class="form-control" placeholder="Ingrese los apellidos del proveedor" required></td>
    </tr>
    <tr>
      <td class="left-cell"><label for="telefono">Teléfono</label></td>
      <td><input type="text" id="telefono" [(ngModel)]="proveedor.telefono" name="telefono" class="form-control" placeholder="Ingrese el teléfono del proveedor" required></td>
    </tr>
    <tr>
      <td class="left-cell"><label for="empresa">Empresa</label></td>
      <td><input type="text" id="empresa" [(ngModel)]="proveedor.empresa" name="empresa" class="form-control" placeholder="Ingrese la empresa del proveedor" required></td>
    </tr>
  </tbody>
</table>

    <div class="button-group">
      <button type="submit" class="validate-btn">Guardar</button>
    </div>
  </form>
</div>
