/* Estilos para el contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el logo horizontalmente */
  margin-right: 30px; /* Ajusta el margen para mover el contenedor a la derecha */
}

/* Estilos para el logo */
.logo {
  height: 50px; /* Ajusta la altura del logo */
  width: auto; /* Mantiene la proporción de la imagen */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #5b3d99;
  padding: 10px;
}

.nav-group {
  position: relative;
  margin-right: 10px;
}

.dropdown-btn {
  background-color: #5b3d99;
  color: #fff;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.dropdown-btn i {
  margin-left: 5px;
}

.dropdown-container {
  display: none;
  background-color: #d0b4f1;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 1;
}

.dropdown-container a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.dropdown-container a:hover {
  background-color: #bfa8e3;
}

.dropdown-btn.active + .dropdown-container {
  display: block;
}

/* Ensuring responsiveness */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }
}

/*ESTILOS PARA EL CORTE DE CAJA*/
.corte-caja-container, .reporte-ventas-container {

    margin: 60px auto; /* Centra el contenedor horizontalmente y ajusta el margen superior */
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
    /* Ajuste de alto eliminado para evitar restricciones de altura innecesarias */
}

.card-header {
  background-color: #957DAD; 
  color: #ffffff; 
  border-radius: 15px 15px 0 0;
  padding: 10px; 
  text-align: center; 
  font-size: 24px; 
}

.card-body {
  padding: 20px; 
}

.form-group {
  margin-bottom: 20px; 
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row .form-group {
  flex: 1;
}

.form-row .form-group:not(:last-child) {
  margin-right: 20px;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  font-size: 16px; 
  width: 95%;
}

.btn-purple {
  background-color: #D291BC; 
  border-color: #D291BC;
  color: #ffffff;
  border-radius: 8px; 
  padding: 10px 20px; 
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.btn-purple:hover {
  background-color: #B565A7; 
  border-color: #B565A7;
}

.table {
  margin-top: 20px;
}

.table thead {
  background-color: #957DAD; 
  color: #ffffff; 
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-radius: 15px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.text-white {
  color: #ffffff ;
}

.bg-lightpurple {
  background-color: #957DAD;
}

.flecha{
  margin-top: 90px;
  font-size: 24px;
color: #000;
text-decoration: none;
margin-left: 30px;
}