/* Estilos para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  /* Estilos para el logo */
  .logo {
    height: 50px;
    width: auto;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b3d99;
    padding: 10px;
  }
  
  .nav-group {
    position: relative;
    margin-right: 10px;
  }
  
  .dropdown-btn {
    background-color: #5b3d99;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-btn i {
    margin-left: 5px;
  }
  
  .dropdown-container {
    display: none;
    background-color: #d0b4f1;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
  }
  
  .dropdown-container a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-container a:last-child {
    border-bottom: none;
  }
  
  .dropdown-container a:hover {
    background-color: #b894e6;
  }
  
  .dropdown-btn.active + .dropdown-container {
    display: block;
  }
/* Estilos INVENTARIOS FRECUENTES */
.inventariosfrecuentes-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    background-color: #f4f4f4;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.inventariosfrecuentes-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.inventariosfrecuentes-main-content h2 {
    font-size: 24px; /* Tamaño del texto coherente con otras pantallas */
    color: #5b3d99; /* Color morado */
    text-align: center;
    margin-bottom: 20px;
  }

.description-categoria {
    background-color:  rgb(179, 142, 223);
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.inventariosfrecuentes-sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.inventariosfrecuentes-sidebar h2 {
    margin-top: 0;
}

.inventariosfrecuentes-sidebar .radio-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.radio-option {
    display: flex;
    align-items: center;
}

.radio-option input[type="radio"] {
    margin-right: 10px;
}

.inventariosfrecuentes-main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 120px); /* Ajusta esta altura según sea necesario */
}

.inventariosfrecuentes-main-content h2 {
    margin-top: 0;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.inventory-table th {
    background-color: #5b3d99; /* Color de fondo de los encabezados de tabla */
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.inventory-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #5b3d99; /* Color de fondo de los botones */
    border: none;
    color: #fff;
    border-radius: 4px;
}

.buttons button:hover {
    background-color: #48257f; /* Color de fondo al pasar el mouse */
}

.buttons button:last-child {
    margin-right: 0;
}

.title-categorias {
    background-color: rgb(179, 142, 223); /* Color de fondo de los títulos de categorías */
    text-align: center;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.color-body {
    background-color: rgb(179, 142, 223); /* Color de fondo consistente */
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
}

.conteiner-articulos {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
}
