<div class="menu-container">
  <header class="menu-header">
   
      
    <h1>MENÚ</h1>
  </header>
  <div class="menu-content">
    <div class="menu-item">
      <a routerLink="/principal">
        <i class="fas fa-home"></i>
        <span>Ventas</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/proveedores">
        <i class="fas fa-user-friends"></i>
        <span>Registrar proveedores</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/inventarios">
        <i class="fas fa-boxes"></i>
        <span>Inventarios</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/cortedecaja">
        <i class="fas fa-cash-register"></i>
        <span>Corte de Caja</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/reportes">
        <i class="fas fa-clipboard-list"></i>
        <span>Informes</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/login">
        <i class="fas fa-sign-in-alt"></i>
        <span>Inicio de Sesión</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/pedidosaproveedor">
        <i class="fas fa-sign-in-alt"></i>
        <span>Compras</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/entregasproveedor">
        <i class="fas fa-sign-in-alt"></i>
        <span>Entregas proveedor</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/clientesfrecuentes">
        <i class="fas fa-sign-in-alt"></i>
        <span>Clientes Frecuentes</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/formulariofactura">
        <i class="fas fa-file-invoice icon-invoice"></i>
        <span>Factura</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/gestiondescuento">
        <i class="fas fa-percentage icon-percentage"></i>
        <span>Descuento Por Mayoreo</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/productos">
        <i class="fas fa-percentage icon-percentage"></i>
        <span>Agregar Productos</span>
      </a>
    </div>

    <div class="menu-item">
      <a routerLink="/categoria">
        <i class="fas fa-percentage icon-percentage"></i>
        <span>Categorias</span>
      </a>
    </div>
  </div>
</div>