
<!--HU07-CRUD Notificación Productos Escasos
Delgado Manzano Carmen Catalina-->
<div class="navbar">
  <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
  <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
  <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
  <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
  <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
  <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
  <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
  <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
  <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
</div>
<div class="flecha">
  <a routerLink="/principal" class="back-icon">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>
<div class="notificaciones-container">
  <h2>NOTIFICACIONES</h2>
  <div *ngFor="let producto of productos" class="notification-card not-attended">
    <div class="notification-header">
      <span class="product">Producto</span>
      <span class="description">Descripción</span>
      <span class="quantity">Cantidad disponible</span>
    </div>
    <div class="notification-content">
      <span class="product-id">{{ producto.codigo_Barras }}</span>
      <span class="product-desc">{{ producto.nombre }}</span>
      <span class="product-qty">{{ producto.cantidad_Stock }}</span>
    </div>
    <button class="order-button" routerLink="/pedidosaproveedor">Realizar Pedido</button>
    <span class="status">No atendido</span>
  </div>
</div>