/* Estilos para el contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

/* Estilos para el logo */
.logo {
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #5b3d99;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content: flex-start;
  align-items: center;
}

.nav-group {
  position: relative;
  margin-right: 10px;
}

.dropdown-btn {
  background-color: #5b3d99;
  color: #fff;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.dropdown-btn i {
  margin-left: 5px;
}

.dropdown-container {
  display: none;
  background-color: #d0b4f1;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-container a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.dropdown-container a:hover {
  background-color: #bfa8e3;
}

.dropdown-btn.active + .dropdown-container {
  display: block;
}

/* Ensuring responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}


/*ESTILOS NOTIFICACIONES*/
.notificaciones-container {
  padding: 90px;
}

h2 {
  text-align: center;
  color: #6a0dad; /* ajusta el color según tu preferencia */
}

.notification-date {
  background-color: #8e8989;
  padding: 5px 10px;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 10px;
  width: 8%;
  text-align: center;
}

.notification-card {
  border: 1px solid bla#bb6868;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  border-radius: 25px;
}

.notification-card.not-attended {
  background-color: #df8189;
  border-color: #44090f;
}

.notification-card.resolved {
  background-color: #36b954;
  border-color: #c3e6cb;
}

.notification-header, .notification-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.notification-header {
  border-bottom: 2px solid #ccc; /* Línea separadora debajo de los encabezados */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notification-header span, .notification-content span {
  padding: 10px;
  border-right: 1px solid #ccc; /* Añadido borde derecho para separación vertical */
}

.notification-header span:last-child, .notification-content span:last-child {
  border-right: none; /* Quitar borde derecho del último elemento */
}

.order-button {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: #d0b4f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.order-button:hover {
  background-color: #a373e7;
}

.status {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em;
  color: #3a3097; /* color para no atendido */
}

.notification-card.resolved .status {
  color: #e08031; /* color para resuelto */
}
