.container {
    padding: 20px;
    background-color: #d6bdec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height:max-content;
    max-width: 990px;
    margin-top: 40px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;    
  }
  
  .btn {
    margin-right: 5px;
  }
  
  .form-group {
    margin-bottom: 20px; 
    width: 100%;
    font-size: 24px;
  }
  
  .form-control {
    width:90%;
    padding: 14px;
    border-radius: 4px;
    border: 3px solid #e8dede;
    display: block;
    font-size: 0.7em;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #49bd51;

  }
  
  .btn-secondary {
    background-color: #D291BC; 
    border-color: #D291BC;
    color: #ffffff;
    border-radius: 8px; 
    padding: 10px 27px; 
    font-size: 16px;
    margin: 0 auto;

  }
  .mt-3,.btn-info{
    background-color: #d8a4c6; 
    border-color: #f3b4de;
    color: #ffffff;
    border-radius: 8px; 
    padding: 10px 20px; 
    font-size: 21px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .btn-primary {
    background-color: #D291BC; 
    border-color: #D291BC;
    color: #ffffff;
    border-radius: 8px; 
    padding: 10px 50px; 
    font-size: 21px;
    display: block;
    margin: 0 auto;

  }
  .btn-warning{
    background-color: #D291BC; 
    border-color: #D291BC;
    border-radius: 8px; 
    padding: 10px 50px; 
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
     width: 9.6em;

  }
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 8px; 
    padding: 10px 50px; 
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 9.6em;
  }
  .table-responsive {
    overflow-x: auto;
  }

  .table-striped {
    width: 100%;
  }
  .table-striped th, .table-striped td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .table-striped th {
    background-color: #9575cd;
    color: white;
  }
  .table-striped tbody tr:hover {
    background-color: #e1bee7;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }
  
  .navbar a:hover {
    color: #d4c1f3;
  }
  
  .navbar i {
    margin-right: 8px;
  }
  .flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  } 