<div class="navbar">
    <!-- Logo Redirigiendo al MENU -->
    <a href="/menu" class="logo-link">
      <img src="https://images.vexels.com/content/200165/preview/store-icon-stroke-bb4ae2.png" alt="Logo Abarrotes el Perrón" class="logo">
    </a>
    
    <div class="nav-group">
      <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['ventas-compras']}" (click)="toggleDropdown('ventas-compras')">
        Ventas & Compras <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-container" *ngIf="dropdownOpen['ventas-compras']">
        <a routerLink="/principal"><i class="fas fa-home"></i> Ventas</a>
        <a routerLink="/pedidosaproveedor"><i class="fas fa-shopping-cart"></i> Compras</a>
        <a routerLink="/facturas"><i class="fas fa-file-invoice"></i> Factura</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['proveedores-entregas']}" (click)="toggleDropdown('proveedores-entregas')">
        Proveedores & Entregas <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-container" *ngIf="dropdownOpen['proveedores-entregas']">
        <a routerLink="/proveedores"><i class="fas fa-truck"></i> Proveedores</a>
        <a routerLink="/entregasproveedor"><i class="fas fa-shipping-fast"></i> Entregas</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['inventarios-reportes']}" (click)="toggleDropdown('inventarios-reportes')">
        Inventarios & Reportes <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-container" *ngIf="dropdownOpen['inventarios-reportes']">
        <a routerLink="/inventarios"><i class="fas fa-boxes"></i> Inventarios</a>
        <a routerLink="/cortedecaja"><i class="fas fa-cash-register"></i> Corte Caja</a>
        <a routerLink="/reportes"><i class="fas fa-chart-line"></i> Informes</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button class="dropdown-btn" [ngClass]="{'active': dropdownOpen['otros']}" (click)="toggleDropdown('otros')">
        Otros <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-container" *ngIf="dropdownOpen['otros']">
       <a routerLink="/ventas"><i class="fas fa-ticket-alt"></i> Ticket</a>
      <a routerLink="/listausuario"><i class="fas fa-users"></i> Agregar Usuario</a>
        <a routerLink="/productos"><i class="fas fa-box"></i> Agregar Productos</a>
        <a routerLink="/categoria"><i class="fas fa-tags"></i> Categorías</a>
        <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      </div>
    </div>
  </div>
  
  <!--REPORTES-->
  <div class="container reportes-page">
    <h1><i class="fas fa-chart-line"></i> Reportes</h1>
    
    <div class="reportes-filtros">
      <label for="fechaDesde">Desde:</label>
      <input type="date" id="fechaDesde" [(ngModel)]="fechaDesde" name="fechaDesde">
      <label for="fechaHasta">Hasta:</label>
      <input type="date" id="fechaHasta" [(ngModel)]="fechaHasta" name="fechaHasta">
    </div>
      <div>
      <button class="sales-buttons" (click)="obtenerReportes(fechaDesde,fechaHasta)">Obtener Reportes</button>
    </div>
  
  
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio Unitario</th>
          <th>Unidades vendidas</th>
          <th>Total de ventas</th>
          <th>Ganancias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporte of reportes">
          <td>{{ reporte.producto }}</td>
          <td>{{ reporte.precioUnitario | currency }}</td>
          <td>{{ reporte.cantidadTotal | currency }}</td>
          <td>{{ reporte.precioTotalProducto | currency }}</td>
          <td>{{ reporte.ganancias | currency }}</td>
        </tr>
        <tr>
          <tr class="total-g">
          <td colspan="4"><strong>Total de ganancias:</strong></td>
          <td>{{ totalGanancias | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>