<div class="waves">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div class="login-container">
   <div class="login-box index-page">
      <img src="https://images.vexels.com/content/200165/preview/store-icon-stroke-bb4ae2.png" alt="Logo Abarrotes el Perrón" class="logo">
      <h1>ABARROTES EL PERRÓN</h1>
      <div class="icon-container">
        <i class="fas fa-map-marker-alt icon" (click)="pedido()" title="Ver Ubicación de la tienda"></i>
        <i class="fab fa-facebook icon" (click)="redes()" title="Nuestras redes sociales"></i>
        <i class="fas fa-sun icon" (click)="clima()" title="¿Quieres saber cómo esta el clima hoy?"></i>
        <i class="fas fa-cocktail icon" (click)="cocteles()" title="Ideas para tús bebidas"></i>
        <i class="fas fa-music icon" (click)="musica()" title="Ponle ritmo a tu día"></i>

        
        
    </div>
    <app-chatbase></app-chatbase>
      <h2>Iniciar Sesión</h2>
      <form (ngSubmit)="login()">
        <div class="textbox">
          <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" placeholder="Ingrese nombre de usuario" required>
        </div>
        <div class="textbox">
          <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" placeholder="Ingrese contraseña" required>
        </div>
        <div *ngIf="errorMessage">
          <p class="error">{{ errorMessage }}</p>
        </div>
        <button type="submit">Iniciar Sesión</button>
        <button class="facebook-login-btn" (click)="loginWithFacebook()">Login with Facebook</button>
       


      </form>
  </div>
</div>
