
.custom-body {
    font-family: Arial, sans-serif;
    background-color: #D8BFD8;
    margin: 0;
    padding: 0;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}
.custom-container {
    max-width: 800px;
    margin: 50px auto;
    background: #B39DDB;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-title {
    text-align: center;
    color: #333;
}

.custom-product {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eed7e7;
} 

.custom-product h3 {
    margin: 0 0 10px;
    color: #444;
}

.custom-product p {
    margin: 5px 0;
}

.custom-label {
    display: block;
    margin: 10px 0 5px;
}

.custom-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #b300aa;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #b300aa;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: -webkit-sticky; 
    position: sticky;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
