<div class="navbar">
  <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
  <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
  <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
  <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
  <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
  <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
  <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
  <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
  <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
</div>


<div class="flecha">
  <a routerLink="/menu" class="back-icon">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>
<div class="container mt-4">
  <h2 class="text-center mb-4">Lista de Proveedores</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover custom-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Empresa</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores">
          <td>{{ proveedor.id_Proveedor }}</td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.apellidos }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.empresa }}</td>
          <td class="text-center">
            <button *ngIf="proveedor.id_Proveedor !== undefined" class="btn btn-danger mr-2" (click)="deleteProveedor(proveedor.id_Proveedor)">
              <i class="fas fa-trash"></i> Eliminar
            </button>
            <button class="btn btn-primary" [routerLink]="['/proveedores/edit', proveedor.id_Proveedor]">
              <i class="fas fa-edit"></i> Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container-page mt-4">
      <button class="btn btn-success" type="button" routerLink="/proveedores/add">Agregar Proveedor</button>
    </div>
  </div>