
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #d4c1f3;
}

.navbar i {
  margin-right: 8px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9173cc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}
  .container {
    margin-top: 100px;
    margin: 20px;
    background-color: #f3e5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1750px; 
    max-height: 1000;
    height: 800px;
  }
  
  h2 {
    color: #7e57c2;
    font-weight: bold;
  }
  
  .custom-table {
    width: 100%;
    /* border-collapse: collapse;*/
  }
  
  .custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #9575cd;
    color: white;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e1bee7;
  }
  
  .btn {
    background-color: #ba68c8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ab47bc;
  }
  
  .btn i {
    margin-right: 5px;
  }
  
  .btn-danger {
    background-color: #e57373;
    margin: 0 8px;

  }
  
  .btn-danger:hover {
    background-color: #ef5350;
    margin-left: 30px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  .container-page button {
    width: 100%;
    padding: 20px;
    background-color: #b69bec;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
