<div class="navbar">
  <!-- Logo Redirigiendo al Inicio de Sesión -->
  <a href="/menu" class="logo-link">
      <img src="https://images.vexels.com/content/200165/preview/store-icon-stroke-bb4ae2.png" alt="Logo Abarrotes el Perrón" class="logo">
  </a>

<div class="navbar">
  <div class="nav-group">
    <button 
      class="dropdown-btn" 
      [ngClass]="{'active': dropdownOpen['ventas-compras']}" 
      (click)="toggleDropdown('ventas-compras')"
    >
      Ventas & Compras
      <i class="fas fa-chevron-down"></i>
    </button>
    <div 
      class="dropdown-container" 
      *ngIf="dropdownOpen['ventas-compras']"
    >
      <a routerLink="/principal"><i class="fas fa-home"></i> Ventas</a>
      <a routerLink="/pedidosaproveedor"><i class="fas fa-shopping-cart"></i> Compras</a>
      <a routerLink="/facturas"><i class="fas fa-file-invoice"></i> Factura</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button 
      class="dropdown-btn" 
      [ngClass]="{'active': dropdownOpen['proveedores-entregas']}" 
      (click)="toggleDropdown('proveedores-entregas')"
    >
      Proveedores & Entregas
      <i class="fas fa-chevron-down"></i>
    </button>
    <div 
      class="dropdown-container" 
      *ngIf="dropdownOpen['proveedores-entregas']"
    >
      <a routerLink="/proveedores"><i class="fas fa-truck"></i> Proveedores</a>
      <a routerLink="/entregasproveedor"><i class="fas fa-shipping-fast"></i> Entregas</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button 
      class="dropdown-btn" 
      [ngClass]="{'active': dropdownOpen['inventarios-reportes']}" 
      (click)="toggleDropdown('inventarios-reportes')"
    >
      Inventarios & Reportes
      <i class="fas fa-chevron-down"></i>
    </button>
    <div 
      class="dropdown-container" 
      *ngIf="dropdownOpen['inventarios-reportes']"
    >
      <a routerLink="/inventarios"><i class="fas fa-boxes"></i> Inventarios</a>
      <a routerLink="/cortedecaja"><i class="fas fa-cash-register"></i> Corte Caja</a>
      <a routerLink="/reportes"><i class="fas fa-chart-line"></i> Informes</a>
    </div>
  </div>
  
  <div class="nav-group">
    <button 
      class="dropdown-btn" 
      [ngClass]="{'active': dropdownOpen['otros']}" 
      (click)="toggleDropdown('otros')"
    >
      Otros
      <i class="fas fa-chevron-down"></i>
    </button>
    <div 
      class="dropdown-container" 
      *ngIf="dropdownOpen['otros']"
    >
      <a routerLink="/ventas"><i class="fas fa-ticket-alt"></i> Ticket</a>
      <a routerLink="/listausuario"><i class="fas fa-users"></i> Agregar Usuario</a>
      <a routerLink="/productos"><i class="fas fa-box"></i> Agregar Productos</a>
      <a routerLink="/categoria"><i class="fas fa-tags"></i> Categorías</a>
  <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    </div>
  </div>
</div>
</div>


<div class="main-container">
    <div class="container">
      <h2>Lista de Detalles de Venta</h2>
      
      <div class="search-container">
       <!-- <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por producto" class="search-input" (input)="searchDetallesVenta()">
        <button (click)="searchDetallesVenta()" class="search-button">
          <i class="fa fa-search"></i> Buscar
        </button>
      </div>-->
  
      <table>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Producto</th>
                <th>codigo Barras</th>
                <th>descuento</th>
                <th>cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalle of detallesVenta">
                <td>{{ detalle.id_Venta }}</td>
                <td>{{ detalle.nombre }} </td>
                <td>{{ detalle.codigo_Barras }}</td>
                <td>{{ detalle.descuento| currency}}</td>
                <td>
                  <ng-container *ngIf="!detalle.editing"> {{ detalle.cantidad }}
                </ng-container>
                <ng-container *ngIf="detalle.editing">
                  <input type="number" [(ngModel)]="detalle.cantidad" class="edit-input" required min="1" #cantidad="ngModel">
                  <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="text-danger">
                    <div *ngIf="cantidad.errors?.['required']">La cantidad en stock es obligatoria.</div>
                    <div *ngIf="cantidad.errors?.['min']">La cantidad en stock no puede ser menor o igual a 0.</div>
                  </div> 

                  
                  
                  <button (click)="saveDetalleVenta(detalle)" class="save-button">Guardar</button>
            </ng-container>
          </td>
          <td>{{ detalle.total_venta| currency }}</td>
          <td>
            <button *ngIf="tipoUsuario === 'Admin'"  (click)="editDetalleVenta(detalle)" class="edit-button">✎</button>
          </td>
          <td>
            <button *ngIf="tipoUsuario === 'Admin'"  (click)="deleteDetalleVenta(detalle.id_Detalle!)" class="delete-button">🗑</button>
          </td>
</tr>
</tbody>
</table>
    </div>
  </div>
  <button class="btn btn-purple btn-block" (click)="volver()">Volver</button></div>
