.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  /* Estilos para el logo */
  .logo {
    height: 50px;
    width: auto;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b3d99;
    padding: 10px;
  }
  
  .nav-group {
    position: relative;
    margin-right: 10px;
  }
  
  .dropdown-btn {
    background-color: #5b3d99;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-btn i {
    margin-left: 5px;
  }
  
  .dropdown-container {
    display: none;
    background-color: #d0b4f1;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
  }
  
  .dropdown-container a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-container a:last-child {
    border-bottom: none;
  }
  
  .dropdown-container a:hover {
    background-color: #b894e6;
  }
  
  .dropdown-btn.active + .dropdown-container {
    display: block;
  }