<div class="navbar">
    <!-- Logo Redirigiendo al Inicio de Sesión -->
    <a href="/menu" class="logo-link">
        <img src="https://images.vexels.com/content/200165/preview/store-icon-stroke-bb4ae2.png" alt="Logo Abarrotes el Perrón" class="logo">
    </a>

  <div class="navbar">
    <div class="nav-group">
      <button 
        class="dropdown-btn" 
        [ngClass]="{'active': dropdownOpen['ventas-compras']}" 
        (click)="toggleDropdown('ventas-compras')"
      >
        Ventas & Compras
        <i class="fas fa-chevron-down"></i>
      </button>
      <div 
        class="dropdown-container" 
        *ngIf="dropdownOpen['ventas-compras']"
      >
        <a routerLink="/principal"><i class="fas fa-home"></i> Ventas</a>
        <a routerLink="/pedidosaproveedor"><i class="fas fa-shopping-cart"></i> Compras</a>
        <a routerLink="/facturas"><i class="fas fa-file-invoice"></i> Factura</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button 
        class="dropdown-btn" 
        [ngClass]="{'active': dropdownOpen['proveedores-entregas']}" 
        (click)="toggleDropdown('proveedores-entregas')"
      >
        Proveedores & Entregas
        <i class="fas fa-chevron-down"></i>
      </button>
      <div 
        class="dropdown-container" 
        *ngIf="dropdownOpen['proveedores-entregas']"
      >
        <a routerLink="/proveedores"><i class="fas fa-truck"></i> Proveedores</a>
        <a routerLink="/entregasproveedor"><i class="fas fa-shipping-fast"></i> Entregas</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button 
        class="dropdown-btn" 
        [ngClass]="{'active': dropdownOpen['inventarios-reportes']}" 
        (click)="toggleDropdown('inventarios-reportes')"
      >
        Inventarios & Reportes
        <i class="fas fa-chevron-down"></i>
      </button>
      <div 
        class="dropdown-container" 
        *ngIf="dropdownOpen['inventarios-reportes']"
      >
        <a routerLink="/inventarios"><i class="fas fa-boxes"></i> Inventarios</a>
        <a routerLink="/cortedecaja"><i class="fas fa-cash-register"></i> Corte Caja</a>
        <a routerLink="/reportes"><i class="fas fa-chart-line"></i> Informes</a>
      </div>
    </div>
    
    <div class="nav-group">
      <button 
        class="dropdown-btn" 
        [ngClass]="{'active': dropdownOpen['otros']}" 
        (click)="toggleDropdown('otros')"
      >
        Otros
        <i class="fas fa-chevron-down"></i>
      </button>
      <div 
        class="dropdown-container" 
        *ngIf="dropdownOpen['otros']"
      >
        <a routerLink="/clientesfrecuentes"><i class="fas fa-users"></i> Clientes Frecuentes</a>
        <a routerLink="/listausuario"><i class="fas fa-users"></i> Agregar Usuario</a>
        <a routerLink="/productos"><i class="fas fa-box"></i> Agregar Productos</a>
        <a routerLink="/categoria"><i class="fas fa-tags"></i> Categorías</a>
    <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      </div>
    </div>
  </div>
</div>
<div class="factura-list-container">
    <h2>Lista de  ventas</h2>
    <table>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Fecha</th>
                <th>Atendido por</th>
                <th>Método de pago</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of ventas">
                <td>{{ venta.id_Venta }}</td>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.id_Usuario }}</td>
                <td>{{ venta.metodo_Pago}}</td>
                <td>{{ venta.total_ventas | currency:'MXN':'symbol':'1.2-2' }}</td> 
                
                <td>
<button  (click)="eliminarVenta(venta.id_Venta!)"class="delete-button">🗑
</button>
<button (click)="verDetalle(venta.id_Venta)">
                     <i class="fas fa-eye edit-icon"></i>
</button>
</td>
</tr>
</tbody>
</table>
<div>
</div>

