.facturacion-background {
    background-color:  #D8BFD8;
    font-family: sans-serif;
  }
  .flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}
.datos-container {
    background-color: #B39DDB;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
  }

.titulo-centrado {
    text-align: center;
    margin-bottom: 20px;
  }

.etiqueta-bloque {
    display: block;
    margin-bottom: 5px;
  }

.entrada-texto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

.selector-estados {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

.boton-accion {
    background-color: #D87093;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

.boton-accion:hover {
    opacity: 0.8;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: -webkit-sticky; 
    position: sticky;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}