<div class="navbar">
    <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
    <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
    <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
    <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
    <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
    <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
    <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
    <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
    <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
    
  </div><div class="flecha">
    <a routerLink="/menu" class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="datos-container">
    <h2 class="titulo-centrado">Datos de Facturación</h2>

    <label class="etiqueta-bloque" for="Numero de Ticket">Numero de Ticket:</label>
    <input type="text" id="Numero de Ticket" name="Numero de Ticket" class="entrada-texto">
    
    <label class="etiqueta-bloque" for="rfc">RFC:</label>
    <input type="text" id="rfc" name="rfc" class="entrada-texto">

    <label class="etiqueta-bloque" for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" class="entrada-texto">

    <label class="etiqueta-bloque" for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" class="entrada-texto">

    <label class="etiqueta-bloque" for="estado">Estado:</label>
    <select id="estado" name="estado" class="selector-estados">
      <option value="">Selecciona un estado</option>
      <option value="AGU">AGUASCALIENTES</option>
      <option value="BCN">BAJA CALIFORNIA</option>
      <option value="BCS">BAJA CALIFORNIA SUR</option>
      <option value="CAM">CAMPECHE</option>
      <option value="CHP">CHIAPAS</option>
      <option value="CHH">CHIHUAHUA</option>
      <option value="COA">COAHUILA</option>
      <option value="COL">COLIMA</option>
      <option value="DUR">DURANGO</option>
      <option value="GTO">GUANAJUATO</option>
      <option value="GRO">GUERRERO</option>
      <option value="HID">HIDALGO</option>
      <option value="JAL">JALISCO</option>
      <option value="MEX">MÉXICO</option>
      <option value="MIC">MICHOACÁN</option>
      <option value="MOR">MORELOS</option>
      <option value="NAY">NAYARIT</option>
      <option value="NLE">NUEVO LEÓN</option>
      <option value="OAX">OAXACA</option>
      <option value="PUE">PUEBLA</option>
      <option value="QUE">QUERÉTARO</option>
      <option value="QUI">QUINTANA ROO</option>
      <option value="SLP">SAN LUIS POTOSÍ</option>
      <option value="SIN">SINALOA</option>
      <option value="SON">SONORA</option>
      <option value="TAB">TABASCO</option>
      <option value="TAM">TAMAULIPAS</option>
      <option value="TLA">TLAXCALA</option>
      <option value="VER">VERACRUZ</option>
      <option value="YUC">YUCATÁN</option>
      <option value="ZAC">ZACATECAS</option>
    </select>

    <label class="etiqueta-bloque" for="municipio">Municipio:</label>
    <input type="text" id="municipio" name="municipio" class="entrada-texto">
   

    <label class="etiqueta-bloque" for="cp">Código Postal:</label>
    <input type="text" id="cp" name="cp" class="entrada-texto">

    <label class="etiqueta-bloque" for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" class="entrada-texto">

    <button type="button" class="boton-accion">Cancelar</button>
    <button type="button" class="boton-accion">Generar Factura</button>
  </div>