<div class="sales-content">
    <div class="sales-title">Ventas</div>
    
    <div class="sales-barcode">
      <div class="barcode-icon">
        <i class="fa fa-barcode"></i>
      </div>
      <input 
      type="text" 
      class="codigo barcode-input" 
      (keyup.enter)="onEnterKey($event)" 
      (keyup)="onCodigoBarrasChange($event)" 
      placeholder="Escanea o escribe el código de barras"
    />
    </div>
  
    <div class="sales-table-content">
      <div class="sales-table-container">
        <table class="sales-table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of ventaProductos">
              <td>{{ producto.codigo_Barras }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad}}</td>
              <td>{{ producto.precio_Venta | currency }}</td>
              <td>
                <button (click)="eliminarProductoDeVenta(producto.codigo_Barras)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="sales-totals">
      <div class="totals-left">
        <div>Subtotal: {{ subtotal | currency }}</div>
        <div>Total: {{ totalVenta | currency }}</div>
      </div>
      <div class="totals-right">
        <div>Recibido: <input type="number" [(ngModel)]="recibido" class="recibido-input"  /></div>
        <div class="cambio-input">Cambio: {{ cambioFinal | currency }} </div>
      </div>
    </div>
  
    <div class="sales-buttons">
      <button (click)="pagar()">Pagar</button>
      <button (click)="vaciarVenta()">Vaciar Venta</button>
      <button (click)="aplicarDescuento()">Aplicar Descuento</button>
      <select [(ngModel)]="tipoDescuento">
        <option value="0">Sin Descuento</option>
        <option value="5">5% Descuento</option>
        <option value="10">10% Descuento</option>
        <option value="custom">Descuento Personalizado</option>
      </select>
      <input 
      *ngIf="tipoDescuento === 'custom'" 
      type="number" 
      [(ngModel)]="descuentoPersonalizado" 
      placeholder="Descuento (%)" />
  </div>
  
    
    <div class="sales-bottom-buttons">
        <button routerLink="/menu">Menú</button>
        <button routerLink="/notificacion">
            <i class="fas fa-bell"></i>
            <!-- Mostrar el número de notificaciones solo si es mayor que 0 -->
            <span *ngIf="numeroNotificaciones > 0" class="notification-badge">
              {{ numeroNotificaciones }}
            </span>
        </button>
    </div>
  </div>
  