.sales-content {
    background-color: #ccbaef;
    border: 2px solid #a790cf;
    padding: 20px;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0; /* Quita el margen para que ocupe toda la pantalla */
    box-sizing: border-box; /* Incluye padding y border en el cálculo de width y height */
    overflow: hidden; /* Oculta el desbordamiento */
}
.sales-title {
    background-color: rgb(92, 10, 185);
    padding: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
}
.barcode-input {
    font-size: 1.9em; 
    padding: 10px;
    width: 100%; 
}
.sales-table-content {
    margin-top: 30px;
    flex-grow: 1;
    overflow-y: auto;
}

.sales-barcode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.sales-barcode .barcode-icon {
    margin-right: 10px;
}
.sales-barcode input {
    padding: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 40%;

}
.sales-table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 40px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
    line-height: 26px;
    border-color: rgb(218, 217, 216);
    border-style:groove;
}

.sales-table thead {
    background-color: rgb(92, 10, 185);
    color: white;
    position: sticky; /* Mantener el encabezado fijo */
    top: 0;
    z-index: 1; /* Asegurar que el encabezado esté por encima de otras filas */
}

.sales-table th, 
.sales-table td {
    padding: 10px;
    border: 1px solid rgb(245, 240, 240);
    text-align: center;
}

.sales-totals {
    display:flexbox;
    justify-content: space-between;
    margin-top: 100px;
    width: 50em;
    font-size: 1.4em;
}

.totals-left, 
.totals-right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.totals-left div, 
.totals-right div {
    background-color: rgb(235, 190, 235);
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: initial;
    margin-top: 7px;

}

.recibido-input {
    font-size: 1.9em; 
    padding: 4px; 
    width: 70%; 

}
.cambio-input {
    font-size: 1.4em;    
}
.sales-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 4em;
    margin-left: 50px;
    margin-right: 50px;
}

.sales-buttons button, 
.sales-buttons select {
    background-color: #D291BC;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-size: x-large;
}

.sales-buttons button:hover, 
.sales-buttons select:hover {
    background-color: #CE93D8;
}

.sales-bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    position: relative;
}

.sales-bottom-buttons button {
    background-color: #D291BC;
    border: none;
    padding: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    font-size: xx-large
}

.sales-bottom-buttons button:hover {
    background-color: #88408e;
}

.sales-bottom-buttons .notification-button {
    padding: 20px 0;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales-bottom-buttons .notification-button .fa-bell {
    font-size: 24px;
    position: relative;
}

.barcode-icon .fa-barcode {
    font-size: 150px;
}
.notification-badge {
    background-color: red; /* O el color que prefieras */
    color: white;
    border-radius: 50%;
    padding: 0.7em 1em;
    font-size: 0.75em;
    position: absolute;
    top: 0;   
    right: -0.7em;  
}