/* Estilos para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

/* Estilos para el logo */
.logo {
    height: 50px;
    width: auto;
}

/* Barra de navegación */
.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b3d99; /* Color de fondo consistente */
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
}

/* Agrupación de botones de navegación */
.nav-group {
    position: relative;
    margin-right: 10px;
}

/* Botón de dropdown */
.dropdown-btn {
    background-color: #5b3d99; /* Color de fondo consistente */
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

/* Icono dentro del botón de dropdown */
.dropdown-btn i {
    margin-left: 5px;
}

/* Contenedor del dropdown */
.dropdown-container {
    display: none;
    background-color: #d0b4f1; /* Color de fondo consistente */
    border-radius: 5px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

/* Enlaces dentro del dropdown */
.dropdown-container a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

/* Cambio de color al pasar el mouse por encima */
.dropdown-container a:hover {
    background-color: #bfa8e3;
}

/* Mostrar el dropdown cuando está activo */
.dropdown-btn.active + .dropdown-container {
    display: block;
}

/* Estilos para la página de entregas */
.entregas-content {
    padding: 20px;
    background-color: #f9f9f9;
    margin: auto; /* Centra el contenedor horizontalmente */
    max-width: 900px; /* Ajusta el ancho máximo para centrado */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra más sutil */
    margin-top: 150px; /* Ajusta el margen superior para separarlo del navbar */
    overflow: hidden;
}

/* Título de la página de entregas */
.entregas-title {
    color: #5b3d99;
    text-align: center;
    font-size: 28px; /* Aumenta el tamaño de la fuente para destacar el título */
    margin-bottom: 20px;
}

/* Encabezado de la página de entregas */
.entregas-header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

/* Fecha del sistema y quién recibe */
.entregas-date, .entregas-recibe, .entregas-recibe label, .entregas-header div {
    font-size: 16px;
    color: #48257f;
}

/* Estilos para el selector y los inputs */
.entregas-recibe select, .entregas-recibe input, .proveedor-input {
    width: 100%;
    padding: 12px; /* Aumenta el padding para mejor visibilidad */
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 6px; /* Aumenta el border-radius para esquinas más redondeadas */
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
}

/* Estilos para el código de barras */
.entregas-barcode {
    display: flex;
    align-items: center;
    gap: 15px; /* Aumenta el espacio entre el icono y el input */
    margin-bottom: 20px;
}

/* Icono del código de barras */
.barcode-icon i {
    font-size: 26px; /* Aumenta el tamaño del icono para mayor visibilidad */
    color: #5b3d99;
}

/* Input del código de barras */
.barcode-input {
    flex: 1;
    padding: 12px; /* Aumenta el padding para mejor visibilidad */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
}

/* Estilos para la tabla de productos */
.sales-table-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Añade margen inferior para separar de los totales */
}

/* Contenedor de la tabla para permitir el scroll horizontal */
.sales-table-container {
    overflow-x: auto;
}

/* Estilos de la tabla */
.sales-table {
    width: 100%;
    border-collapse: collapse;
}

.sales-table th, .sales-table td {
    border: 1px solid #ccc;
    padding: 12px; /* Aumenta el padding en celdas para mejor visibilidad */
    text-align: left;
}

.sales-table th {
    background-color: #5b3d99;
    color: white;
}

/* Estilos para los botones */
.entregas-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Añade espacio entre botones */
    margin-top: 20px; /* Asegúrate de que haya suficiente espacio arriba */
}

.entregas-buttons button, .sales-table-content button {
    background-color: #5b3d99;
    color: white;
    padding: 12px 24px; /* Aumenta el padding para botones más visibles */
    border: none;
    border-radius: 6px; /* Aumenta el border-radius para botones más redondeados */
    cursor: pointer;
    font-size: 16px;
}

.entregas-buttons button:hover, .sales-table-content button:hover {
    background-color: #48257f;
}

/* Botón de eliminar en la tabla */
.sales-table button {
    background-color: #D291BC; /* Color de fondo consistente */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.sales-table button:hover {
    background-color: #a370a7; /* Color al pasar el mouse */
}



.datetime p {
    margin: 0;
}

/* Media Queries para la responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .entregas-content {
        padding: 10px;
        margin-top: 70px; /* Ajusta el margen superior para adaptarse a la barra de navegación fija */
    }
}
