/* Estilos para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el logo horizontalmente */
    margin-right: 30px; /* Ajusta el margen para mover el contenedor a la derecha */
}

/* Estilos para el logo */
.logo {
    height: 50px; /* Ajusta la altura del logo */
    width: auto; /* Mantiene la proporción de la imagen */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b3d99;
    padding: 10px;
}

.nav-group {
    position: relative;
    margin-right: 10px;
}

.dropdown-btn {
    background-color: #5b3d99;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.dropdown-btn i {
    margin-left: 5px;
}

.dropdown-container {
    display: none;
    background-color: #d0b4f1;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
}

.dropdown-container a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.dropdown-container a:hover {
    background-color: #bfa8e3;
}

.dropdown-btn.active + .dropdown-container {
    display: block;
}

/* Asegura la responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: -webkit-sticky; 
    position: sticky;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
.registrar-entrega-page {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
    max-width: 1700px; 
    max-height: 1000;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 800px;
}

.registrar-entrega-page h1 {
    color: #48257f;
    text-align: center;
}

.registrar-entrega-page form {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.registrar-entrega-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.registrar-entrega-page th,
.registrar-entrega-page td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.registrar-entrega-page th {
    background-color: #5b3d99;
    color: white;
}

.registrar-entrega-page input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.validate-btn, .save-btn {
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.validate-btn {
    background-color: #5b3d99;
}

.save-btn {
    background-color: #48257f;
}

.validate-btn:hover {
    background-color: #3c2e6f;
}

.save-btn:hover {
    background-color: #371f66;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}