
<div class="navbar">
    <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
    <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
    <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
    <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
    <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
    <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
    <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
    <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
    <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
  </div>
  <div class="flecha">
    <a routerLink="/menu" class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
<div class="custom-container">
    <h1 class="custom-title">Gestión de Precios por Mayoreo</h1>
    <div class="custom-product">
        <h3>Producto 1</h3>
        <label class="custom-label" for="customerKey1">Clave del Cliente:</label>
        <input class="custom-input" id="customerKey1" type="text" placeholder="Ingrese clave del cliente">
        <p>Precio Regular: $100.00</p>
        <label class="custom-label" for="wholesalePrice1">Precio por Mayoreo:</label>
        <input class="custom-input" id="wholesalePrice1" type="number" placeholder="Ingrese precio por mayoreo">
        <label class="custom-label" for="minWholesaleQuantity1">Cantidad Mínima:</label>
        <input class="custom-input" id="minWholesaleQuantity1" type="number" placeholder="Ingrese cantidad mínima">
        <button class="custom-button">Actualizar</button>
    </div>
    <div class="custom-product">
        <h3>Producto 2</h3>
        <p>Precio Regular: $150.00</p>
        <label class="custom-label" for="wholesalePrice2">Precio por Mayoreo:</label>
        <input class="custom-input" id="wholesalePrice2" type="number" placeholder="Ingrese precio por mayoreo">
        <label class="custom-label" for="minWholesaleQuantity2">Cantidad Mínima:</label>
        <input class="custom-input" id="minWholesaleQuantity2" type="number" placeholder="Ingrese cantidad mínima">
        <button class="custom-button">Actualizar</button>
    </div>
    <!-- Puedes agregar más productos de la misma forma -->
</div>

