.container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.search-container {
  margin-bottom: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
}

.search-button i {
  margin-right: 5px;
}

.search-button:hover {
  background-color: #0056b3;
}

.add-container {
  margin-bottom: 20px;
  
}

.add-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 120px);
  font-size: 16px;
}

.add-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #925282;
  color: white;
  margin-left: 10px;
  margin-top: 1%;
}

.add-button:hover {
  background-color: #c67aaf;
}

.edit-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.save-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #28a745;
  color: white;
}

.save-button:hover {
  background-color: #218838;
}

.edit-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ffc107;
  color: white;
}

.edit-button:hover {
  background-color: #e0a800;
}

.delete-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

table {
  width: 89%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-color: #333;
  margin-top: 6%;
  
}

thead {
  background-color: #f8f9fa;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  border-color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
}
